/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0px;
  font-size: 14px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

/* icon */
.header {
  border-bottom: 1px solid #ececec;
  min-height: 60px;
}
@media screen and (min-width: 768px) {
  .header {
    min-height: 80px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 480px) and (max-width: 767px) {
  .header__container {
    width: 480px;
    height: 60px;
  }
}
@media (min-width: 768px) {
  .header__container {
    width: 768px;
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .header__container {
    width: 1200px;
    height: 80px;
  }
}

@media (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding-top: 25px;
  padding-bottom: 24px;
}

.header__logo {
  margin-right: 284px;
  color: #2196f3;
}
@media (min-width: 768px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-right: 88px;
  }
}

.logo__text {
  font-family: Raleway, sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}

.navigation-list {
  display: none;
}
@media (min-width: 768px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 32px 0;
  }
  .navigation-list li:not(:last-child) {
    margin-right: 50px;
  }
}
@media (min-width: 1200px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-left: 93px;
  }
}

.navigation-list .navigation__links::after,
.navigation-list .navigation__current::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #2196f3;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list > .navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list .navigation__link {
  position: relative;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .navigation__link:hover,
.navigation-list .navigation__link:focus {
  color: #2196f3;
  background: white;
  text-decoration: none;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.navigation__item .navigation__current {
  color: #2196f3;
}

.navigation__links,
.navigation__link {
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: #2196f3;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__current {
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  color: #2196f3;
  position: relative;
  padding-bottom: 31px;
  text-decoration: none;
}

.header-contacts {
  display: none;
}
@media (min-width: 768px) {
  .header-contacts {
    display: block;
    padding: 21px 0;
    margin-left: 47px;
  }
}
@media (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding-left: 0;
  }
}

.header__icon {
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon:focus, .header__icon:hover {
  fill: #2196f3;
}

.header__icon.phone {
  width: 10px;
  height: 14px;
}
@media (min-width: 1200px) {
  .header__icon.phone {
    width: 10px;
    height: 16px;
  }
}

.header__icon.email {
  width: 14px;
  height: 10px;
}
@media (min-width: 1200px) {
  .header__icon.email {
    width: 16px;
    height: 12px;
  }
}

.header__link {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 21px;
  padding-bottom: 21px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px;
    padding-bottom: 32px;
    padding-top: 30px;
  }
}
.header__link:focus, .header__link:hover {
  color: #2196f3;
}

.hero {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__container {
  padding: 116px 0 120px;
  margin: 0 auto;
  min-width: 320px;
  height: 400px;
  text-align: center;
  background: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-480img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-480img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-480img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-480img@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    max-width: 768px;
    padding: 118px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-768img.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-768img.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-768img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-768img@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.container-overlay {
  text-align: center;
  min-width: 400px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .container-overlay {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__name {
  font-style: normal;
  font-weight: 900;
  color: white;
  margin: auto;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__name {
    font-size: 44px;
    line-height: 60px;
    max-width: 696px;
  }
}

.hero__button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: white;
  background: #2196f3;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__hidden .modal {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}

.modal {
  content: "";
  top: 50%;
  left: 50%;
  max-width: 450px;
  height: 100vh;
  padding: 40px;
  background-color: white;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 450px;
    max-height: 100vw;
    padding: 40px;
    margin: 8px;
    background-color: white;
    overflow-y: auto;
    pointer-events: auto;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    max-width: 528px;
    top: 50%;
    left: 50%;
    max-height: 100vw;
    padding: 40px;
    margin: 8px;
    background-color: white;
    overflow-y: auto;
    pointer-events: auto;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

.modal__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 8px;
  bottom: 93%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:focus, .modal__close:hover {
  fill: #2196f3;
}

.modal-form__text {
  width: 370px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-form__text {
    width: 448px;
    font-size: 20px;
    line-height: 23px;
  }
}

.form-info {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-info__value {
  margin-bottom: 4px;
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-info__conteiner {
  content: "";
  position: relative;
}

.form-info__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 35px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.form-info__input:focus, .form-info__input:hover {
  border: 1px solid #2196f3;
}

.form-info__input:focus + .form-info__icon,
.form-info__input:hover + .form-info__icon {
  fill: #2196f3;
}

.form-info__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-info__textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 480px) {
  .form-info__textarea {
    width: 370px;
    height: 120px;
  }
}

.form-info:focus > .form-info__textarea,
.form-info:hover > .form-info__textarea {
  border: 1px solid #2196f3;
}

.container-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-bottom: 0px;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .checkbox__label {
    font-size: 12px;
  }
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: white;
  -webkit-transition-property: fill, background-color, border-color;
  transition-property: fill, background-color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:focus + .checkbox__icon {
  border-color: #2196f3;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  border: 0px solid transparent;
}

.checkbox__text {
  color: #2196f3;
  text-decoration: underline;
}

.checkbox__button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  margin: 30px 125px 29px 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 0;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__button:focus, .checkbox__button:hover {
  background-color: #188ce8;
}
@media screen and (max-width: 480px) {
  .checkbox__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

.feature__container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding: 0 15px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .feature__container {
    padding: 60px 15px;
    width: 480px;
  }
}
@media (min-width: 768px) {
  .feature__container {
    width: 768px;
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .feature__container {
    width: 1200px;
    padding-top: 94px;
  }
}

.feature-card {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .feature-card {
    text-align: left;
  }
}

.feature__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

.feature__text {
  width: 450px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature__text {
    width: 270px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .feature__text {
    width: 270px;
    text-align: left;
  }
}

.feature__info {
  width: 450px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .feature__info {
    width: 354px;
    height: 75px;
  }
}
@media screen and (min-width: 768px) {
  .feature__info {
    width: 270px;
    height: 75px;
  }
}

.feature__icon {
  height: 120px;
  width: 450px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    padding: 25px 100px;
    margin-bottom: 30px;
  }
}

.operate__container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .operate__container {
    display: block;
    width: 1200px;
    padding: 94px 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.operate__text {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
}

.operate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: 0;
}

.operate__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  position: relative;
}

.operate__item .operate__overlay {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: #f5f4fa;
}

.container-team {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 480px;
  min-width: 320px;
  padding: 60px 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container-team {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container-team {
    width: 1200px;
    padding: 94px 0;
  }
}

.text {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .text {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.team__list {
  margin-top: 30px;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__list {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
    margin-left: calc(-1 * 30px);
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    margin-left: -30px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.team__item {
  max-width: 450px;
  background: white;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.team__tumb {
  max-height: 622px;
}
.team__tumb img {
  width: 100%;
  max-height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
@media screen and (min-width: 768px) {
  .team__tumb img {
    width: 100%;
    max-height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__tumb img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 270px;
  }
}

.team__title {
  text-align: center;
  padding: 30px 32px;
}

.team__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__profesion {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}
@media screen and (min-width: 480px) {
  .social__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .social__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social__item {
  margin-right: 10px;
  border-radius: 50%;
}

.social__item:last-child {
  margin-right: 0;
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon:last-child {
  margin-right: 0;
  padding: 12px;
}

.social__svg {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon:focus {
  background-color: #2196f3;
}

.social__list .social__item:hover .social__svg,
.social__list .social__item:focus .social__svg {
  fill: white;
  -webkit-transition: opacity 1s, height 1s;
  transition: opacity 1s, height 1s;
}

.social__list .social__icon:hover,
.social__list .social__icon:focus {
  background-color: #2196f3;
}

.client-container {
  min-width: 320px;
  padding: 60px 15px;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .client-container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .client-container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .client-container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 80px;
  }
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 1200px) {
  .client__list {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 -30px;
  }
}

.client__link {
  display: block;
  width: 100%;
  height: 90px;
  text-decoration: none;
  margin-bottom: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
    margin-bottom: 0px;
  }
  .client__link:not(:first-child) {
    margin-left: 30px;
  }
}

.client__icon {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: #2196f3;
}

.footer {
  padding: 60px 15px;
  background: #2f303a;
}

.conteiner__footer {
  text-align: center;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .conteiner__footer {
    text-align: unset;
  }
}

.conteiner__info {
  display: block;
  max-width: 480px;
  min-width: 320px;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .conteiner__info {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: auto;
    max-width: 1200px;
    text-align: initial;
  }
}

.footer__logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.logo__label {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.712;
  letter-spacing: 0.03em;
}

.link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
}

.address > .address__link:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .address__link {
    width: 231px;
  }
}

.address__info {
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 9px;
  margin-bottom: 0;
  text-align: center;
}

.social__footer {
  margin-top: 60px;
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .social__footer {
    margin-top: 15px;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .social__footer {
    margin-left: 70px;
  }
}

.footer__info,
.subscribe__text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 1200px) {
  .footer__info {
    margin-right: 70px;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 0;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    padding: 0;
    cursor: pointer;
  }
}

.footer__list:focus .footer__icons {
  color: #2196f3;
}

.footer__list > .footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__item {
  padding: 12px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: white;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list > .footer__item:hover,
.footer__list > .footer__item:focus {
  background-color: #2196f3;
}

.footer__item .footer__link:focus,
.footer__item .footer__link:hover {
  fill: #2196f3;
}

.footer__link {
  -webkit-transition-property: backgraund-color;
  transition-property: backgraund-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  margin-top: 60px;
  text-align: center;
}
@media screen and (min-widht: 480px) {
  .subscribe {
    margin-top: 60px;
  }
}
@media screen and (min-widht: 768px) {
  .subscribe {
    display: block;
    text-align: center;
  }
}
@media screen and (min-widht: 1200px) {
  .subscribe {
    width: 1200px;
  }
}

.subscribe__info {
  display: block;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .subscribe__info {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__info {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__text {
    margin-right: 255px;
  }
}
.subscribe__input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: rgba(47, 48, 58, 0.8);
    border-radius: 4px;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
}

.subscribe__button {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: white;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
@media screen and (min-width: 768px) {
  .subscribe__button {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 266px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: white;
    background: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 28px;
    margin-left: 12px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

.subscribe__icon {
  fill: white;
  margin-left: 10px;
}

.conteiner-none {
  display: none;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) and (max-width: 767px) {
  .portfolio-conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-conteiner {
    padding: 94px 15px;
    width: 1200px;
  }
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 480px) and (max-width: 767px) {
  .filters__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .filters__list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.filters__item {
  margin-bottom: 15px;
}

.filters__list > .filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__list .filters__button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 11px 22px;
}

.filters__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__item .filters__button:hover,
.filters__item .filters__button:focus {
  color: white;
  background: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    padding-left: 15px;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;
  }
}

.portfolio__item {
  border: 1px solid #ececec;
  margin-bottom: 30px;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio__item:hover,
.portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translate(0);
          transform: translate(0);
}

.portfolio__link {
  display: block;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .portfolio__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__link {
    display: block;
  }
}

.portfolio__tumb {
  position: relative;
  width: 450px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .portfolio__tumb {
    position: relative;
    width: 354px;
    height: 280px;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__tumb {
    position: relative;
    width: 370px;
    height: 292px;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: hidden;
  }
}

.portfolio__link:hover .portfolio__box,
.portfolio__link:focus .portfolio__box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: white;
  padding: 63px 24px;
}

.portfolio__pages {
  padding: 20px 24px;
}

.portfolio__info {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  background: white;
}

.portfolio__finger {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  background: white;
  margin-top: 4px;
}

.menu-container--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu-container.is-open {
  padding: 2.9em 2em;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 480px) {
  .menu-container.is-open {
    padding: 48px 40px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .menu-container.is-open {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .mobile__menu {
    min-width: 100%;
    min-height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .mobile__menu {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 1px;
  right: 20px;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: none;
  cursor: pointer;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle :hover {
  fill: #2196f3;
}
.menu-toggle:focus-within {
  fill: #2196f3;
}
@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__item .links,
.mobile__item .link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__item .links:hover,
.mobile__item .links:focus,
.mobile__item .link:hover,
.mobile__item .link:focus {
  color: #2196f3;
}

.contacts__list {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-top: 302px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts__link.tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

.contacts__link.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 20px;
  margin-top: 64px;
}

.mobile-social__item:not(:last-child) {
  position: relative;
  margin-right: 20px;
}

.mobile-social__item:after {
  content: "";
  position: absolute;
  top: 10px;
  right: -21px;
  width: 22px;
  height: 0px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
@media screen and (min-width: 767px) {
  .menu-container .menu-toggle {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */