.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  content: '';

  top: 50%;
  left: 50%;

  width: 528px;
  padding: 40px;
  margin: 8px;
  background-color: $white-list;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  bottom: 93%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  transition-property: fill;
  transition-duration: $time;
  transition-timing-function: $cubic;

  &:focus,
  &:hover {
    fill: $blue-text;
  }
}

.modal-form__text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-info__label {
  margin-bottom: 4px;
  color: $pepel-text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-info__conteiner {
  content: '';
  position: relative;
}

.form-info__input {
  border: 1px solid $border-modal;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 35px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  transition-property: border;
  transition-duration: $time;
  transition-timing-function: $cubic;
  outline: none;

  &:focus,
  &:hover {
    border: 1px solid $blue-text;
  }
}

.form-info__input:focus + .form-info__icon,
.form-info__input:hover + .form-info__icon {
  fill: $blue-text;
}

.form-info__icon {
  position: absolute;

  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.form-info__textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid $border-modal;

  color: $pepel-text-opacity;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  cursor: pointer;
  outline: none;
}

.form-info:focus > .form-info__textarea,
.form-info:hover > .form-info__textarea {
  border: 1px solid $blue-text;
}

.container-checkbox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 0px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid $black-text;
  border-radius: 2px;
  fill: $white-text;
  transition-property: fill, background-color, border-color;
  transition-duration: $time;
  transition-timing-function: $cubic;

  .checkbox__input:focus + & {
    border-color: $blue-text;
  }

  .checkbox__input:checked + & {
    background-color: $blue-text;
    border-color: $blue-text;
    border: 0px solid transparent;
  }
}

.checkbox__text {
  color: $blue-text;
  text-decoration: underline;
}

.checkbox__button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  margin: 30px 125px 29px 123px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0;
  letter-spacing: 0.06em;
  color: $white-text;
  background-color: $blue-text;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: $time;
  transition-timing-function: $cubic;

  &:focus,
  &:hover {
    background-color: $button-clik;
  }
}
