.header {
  border-bottom: 1px solid $border;
}

.header__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 480px;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 80px;
    padding: 0 15px;
    display: block;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    max-width: 1200px;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;

  padding-top: 25px;
  padding-bottom: 24px;

  @media screen and (max-width: 480px) {
    padding: 15px 0;
  }

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 31px;
  }
}

.header__logo {
  color: $blue-text;
  margin-right: 88px;

  @media screen and (min-widht: $desktop) {
    margin-right: 93px;
  }
}

.logo__text {
  font-family: Raleway, sans-serif;
  color: $black-text;
  letter-spacing: 0.03em;
}

.navigation-list {
  display: flex;
  justify-content: center;
  padding: 32px 0;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media (min-width: $tablet) and (min-widht: $desktop) {
    display: flex;
  }
}

.navigation-list .navigation__links::after,
.navigation-list .navigation__current::after {
  content: '';
  display: flex;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: $blue-text;
  transform: translateY(1px);
  transition: fill $time $cubic;
}

.navigation-list > .navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list .navigation__link {
  color: $black-text;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  transition-property: color;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.navigation-list .navigation__link:hover,
.navigation-list .navigation__link:focus {
  color: $blue-text;
  background: $white-text;
  text-decoration: none;
  transform: translateY(1px);
}

.navigation__item .navigation__current {
  color: $blue-text;
}

.navigation__links,
.navigation__link {
  position: relative;
  padding-bottom: 30px;

  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: $blue-text;

  // position: relative;
  transition: fill $time $cubic;

  // @media screen and (min-width: $tablet) {
  //   padding: 32px 0;

  //   &::after {
  //     content: ' ';

  //     position: absolute;
  //     top: 80px;
  //     left: 0;

  //     display: block;
  //     width: 100%;
  //     height: 4px;

  //     background: $blue-text;

  //     border-radius: 2px;
  //   }
  // }

  // @media screen and (min-width: $desktop) {
  //   &::after {
  //     top: 80px;
  //   }
  // }
}

.navigation__current {
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  color: $blue-text;
  position: relative;
  padding-bottom: 31px;
  text-decoration: none;
}

.header-contacts {
  margin-left: auto;
  color: $pepel-text;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    padding: 21px 0 11px 0;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;
    padding-left: 0;
  }
}

.header__item {
  @media screen and (max-width: $tablet) {
    display: block;
  }

  @media screen and (max-width: $desktop) {
    margin-top: 32px;
  }
}

// .heder__item:not(:last-child) {
//   margin-bottom: 10px;
// }

.header__icon {
  margin-right: 10px;
  align-items: center;
  fill: $pepel-text;

  transition-property: fill;
  transition-duration: $time;
  transition-timing-function: $cubic;

  &:focus,
  &:hover {
    fill: $blue-text;
  }
}

.header-contacts > .header__item:not(:last-child) {
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.header__link {
  // display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $pepel-text;
  cursor: pointer;

  @media screen and (max-widht: $tablet) {
    font-size: 12px;
    line-height: 14px;
  }

  transition-property: color;
  transition-duration: $time;
  transition-timing-function: $cubic;

  &:focus,
  &:hover {
    color: $blue-text;
  }

  @media screen and (max-width: 1199px) {
    .header__link {
      display: block;
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
