body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  margin: 0px;
  font-size: 14px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

// .container {
//   max-width: 1200px;
//   min-width: 320px;
//   padding: 0 15px;
//   margin: 0 auto;

//   @media (min-width: 480px) {
//     width: 480px;
//   }
//   @media (min-width: 768px) {
//     width: 768px;
//   }
//   @media (min-width: 1200px) {
//     width: 1200px;
//   }
// }
