$white-text: rgba(255, 255, 255, 1);
$blue-text: rgba(33, 150, 243, 1);
$black-text: rgba(33, 33, 33, 1);
$pepel-text: rgba(117, 117, 117, 1);
$pepel-text-opacity: rgba(117, 117, 117, 0.5);
$background-section-one: rgba(47, 48, 58, 1);
$background-section-four: rgba(245, 244, 250, 1);
$footer-adress: rgba(255, 255, 255, 0.6);
$white-list: rgba(255, 255, 255, 1);

$border: rgba(236, 236, 236, 1);
$border-card: rgba(238, 238, 238, 0.8);
$header-backgraund: rgba(255, 255, 255, 0.1);
$backgraund-border: rgba(255, 255, 255, 0.3);

/* icon */

$icon-cocial: rgba(175, 177, 184, 1);
$icon-background: rgba(245, 244, 250, 1);

$overlay: rgba(0, 0, 0, 0.2);
$label: rgba(47, 48, 58, 0.8);
$linear-gradient: rgba(47, 48, 58, 0.4);
$hover-overlay: rgba(33, 150, 243, 0.9);
$time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$border-modal: rgba(33, 33, 33, 0.2);
$button-clik: rgba(24, 140, 232, 1);
